@use '@ngx-aspn-lib/theming/src/assets/theming' as t;

.app-root {
  background-color: t.$primary;
  color: t.$accent;

  .menu {
    background-color: t.$secondary;

    width: 20vw;
    height: 100vh;
    overflow: hidden;

    &--short {
      width: 3vw;
    }

    &--hidden {
      width: 0vw;
    }
  }

}
