<section class="app-root flex w-100">
  <div class="menu flex flex-column align-center p-2">
    <h1>Menu</h1>
    <div class="p-1">
      <ngx-aspn-button>
        <i left class="fa fa-play"></i>
        <span>Click me</span>
      </ngx-aspn-button>
    </div>
  </div>
  <div class="content flex flex-column align-center w-100">
    <div class="header flex space-between w-100 p-1">
      <div class="flex align-center">
        <i class="fab fa-angular fa-35 pr-1"></i>ngx-aspn-lib
      </div>
      <ngx-aspn-button>
        <a left href="https://github.com/xLonelyPlayer/ngx-aspn-lib" target="_blank"><i class="fab fa-github fa-25"></i></a>
      </ngx-aspn-button>
    </div>
    <div class="title p-2">
      <h1>Button</h1>
    </div>
    <div class="example">
      <ngx-aspn-button>
        <i left class="fa fa-play"></i>
        <span>Click me</span>
      </ngx-aspn-button>
    </div>
  </div>
</section>

<router-outlet />
