<div class="hookers-green-olivine">
  <div>
    <div class="app-root bg-primary text-accent">
      <nav class="navbar bg-secondary text-accent mb-4">
        <div class="container">
          <h2 class="site-title">ngx-aspn-lib</h2>
          <p>Angular component library</p>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-6-xs">teste1</div>
          <div class="col-6-xs">teste2</div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet />
