// variables & functions
$primary: #28587b;
$secondary: #7f7caf;
$accent: #c8e087;
$success: #22ad29;
$error: #d32752;
$warn: #f7e92e;
$info: #2e6aeb;

$lazuli-cool-gray: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  "success": $success,
  "error": $error,
  "warn": $warn,
  "info": $info,
);
