// variables & functions
$primary: #330c2f;
$secondary: #7b6d8d;
$accent: #ffb17a;
$success: #22ad29;
$error: #d32752;
$warn: #f7e92e;
$info: #2e6aeb;

$purple-violet: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  "success": $success,
  "error": $error,
  "warn": $warn,
  "info": $info,
);
