/* You can add global styles to this file, and also import other style files */
@use '@ngx-aspn-lib/theming/src/assets/theming' as t;

.p {
  &-1 { padding: 0.5rem; }
  &-2 { padding: 1rem; }
  &-3 { padding: 1.75rem; }
  &-4 { padding: 2.5rem; }
}

.pr {
  &-1 { padding-right: 0.5rem; }
  &-2 { padding-right: 1rem; }
  &-3 { padding-right: 1.75rem; }
  &-4 { padding-right: 2.5rem; }
}

.fa {
  &-20 { font-size: 20px; }
  &-25 { font-size: 25px; }
  &-30 { font-size: 30px; }
  &-35 { font-size: 35px; }
}

.flex {
  display: flex;
  &.space-between { justify-content: space-between; }
  &.align-center { align-items: center; }
  &.flex-column { flex-direction: column; }
}

.w {
  &-100 { width: 100%; }
}
