// variables & functions
$primary: #426A5A;
$secondary: #9EBD6E;
$accent: #473144;
$success: #22ad29;
$error: #d32752;
$warn: #f7e92e;
$info: #2e6aeb;

$hookers-green-olivine: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  "success": $success,
  "error": $error,
  "warn": $warn,
  "info": $info,
  "blue": #1919e6,
  "red": #e61919,
  "yellow": #e6e619,
  "green": #19e635,
  "orange": #ffa600,
  "purple": #9900ff,
  "gray": #808080,
  "black": black,
  "white": white,
);
