// variables & functions
$primary: #7e1946;
$secondary: #15616d;
$accent: #f45b69;
$success: #22ad29;
$error: #d32752;
$warn: #f7e92e;
$info: #2e6aeb;

$murrey-crayola: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  "success": $success,
  "error": $error,
  "warn": $warn,
  "info": $info,
);

