button.btn {
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &-primary {
    background-color: $accent;
    color: $primary;
  }

  &-inside {
    &-left { padding-right: 5px; }
    &-right { padding-left: 5px; }
  }
}
