@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $bg-color;
}

.btn {
  @include btn();

  &-inside {
    &-left { padding-right: 5px; }
    &-right { padding-left: 5px; }
  }
}

@each $theme, $map in $themes {
  .#{$theme} * {
    @each $key, $val in $map {
      .btn-#{$key} {
        @include btn($val);
        &:hover {
          background-color: lighten($val, 8);
        }
      }

      .btn-outlined-#{$key} {
        @include btn(#fff);
        border: $base-border-thickness solid $val;
        &:hover {
          background-color: $val;
        }
      }
    }
  }
}
